<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Emotion recognition</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
						<h1 class="text-center mb-2">笑顔じゃないと見れない SNS</h1>
            <div class="list-inline" id="video-container">
							<monitor-video ref="monitor" id="main-stream-video"></monitor-video>
							<monitor-canvas ref="canvas" id="main-stream-canvas"></monitor-canvas>
							<canvas ref="faceCanvas" width="100" height="100" id="faceCanvas"></canvas>
						</div>
						<v-btn color="cyan" dark block @click="start" class="mt-2 mx-auto">カメラをオンにしてください。</v-btn>
						<div class="timeline" v-if="emotionClass == 'happy'">
							<v-card class="mb-2 mx-auto" color="#26c6da" dark max-width="400" v-for="post in posts" :key="post.id">
								<v-card-text class="headline font-weight-bold">
									{{post.text}}
								</v-card-text>
								<v-card-actions>
									<v-list-item class="grow">
										<v-list-item-avatar color="grey darken-3">
											<v-img class="elevation-6" alt=""
												:src="randomAvatar()">
											</v-img>
										</v-list-item-avatar>
										<v-list-item-content>
											<v-list-item-title>{{post.name}}</v-list-item-title>
										</v-list-item-content>
									</v-list-item>
								</v-card-actions>
							</v-card>
						</div>
          </v-container>
					<div class="post-form-container">
						<v-form v-model="valid" class="post-form">
							<v-text-field v-model="post.name" :counter="10" label="First name" required></v-text-field>
							<v-textarea
							name="input-7-1" label="Default style"
							v-model="post.text"
							:rules="postRules"
							></v-textarea>
							<v-btn color="cyan" dark block @click="addPost">投稿</v-btn>
						</v-form>
					</div>
        </v-main>
      </v-app>
    </div>

	<!-- <article id="article">
		<h1 class="text-center" id="title">😄😠😢 Emotion recognition<br><small>with TensorFlow.js</small></h1>

		<div class="container-b">
			<div class="list-inline" id="video-container">
				<video width="320" height="240" id="main-stream-video" loop preload playsinline autoplay></video>
				<canvas width="320" height="240" id="main-stream-canvas"></canvas>
			</div>
		</div>

		<div class="container-b">
			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-outline-dark" id="start-button">🚀 Start</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-outline-dark" id="predict-button">🤔 Predict</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-outline-dark" id="clear-button">✨ Clear</button>
				</div>
			</div>
		</div>

		<div class="container-b">
			<div id="faces-container">
				<canvas height="100" id="faceCanvas" width="100"></canvas>
			</div>
		</div>

		<div class="container-b">
			<div class="output">
				<ul class="list-unstyled" id="console">
					<li>hello.please load model.</li>
				</ul>
			</div>
		</div> -->
	</article>
	<footer class="text-center">
		<small>&#169; 2018 Studio Identical Twins All Rights Reserved.</small>
	</footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bounce.js/0.8.2/bounce.min.js"></script>
	<script src="js/tensorflow.min.js"></script>
	<script src="tracking/build/tracking-min.js"></script>
	<script src="tracking/build/data/face-min.js"></script>
	<script src="tracking/src/alignment/training/Landmarks.js"></script>
	<script src="tracking/src/alignment/training/Regressor.js"></script>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
			https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>

	<script>
		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		var firebaseConfig = {
			apiKey: "AIzaSyDRhfZPXqi69sI95b3bcDKS_lLrlF9-yTI",
			authDomain: "hale-acumen-184705.firebaseapp.com",
			databaseURL: "https://hale-acumen-184705.firebaseio.com",
			projectId: "hale-acumen-184705",
			storageBucket: "hale-acumen-184705.appspot.com",
			messagingSenderId: "261142792873",
			appId: "1:261142792873:web:df031197dfeec5a34ef7b8",
			measurementId: "G-08JTSKQ4ZT"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>
	<script src="js/predict.js"></script>
</body>
</html>
