<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Emotion recognition</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
						<h1 class="text-center mb-2 site-title">笑顔じゃないと見れない SNS</h1>
            <div class="list-inline" id="video-container">
							<monitor-video ref="monitor" id="main-stream-video"></monitor-video>
							<monitor-canvas ref="canvas" id="main-stream-canvas"></monitor-canvas>
							<canvas ref="faceCanvas" width="100" height="100" id="faceCanvas"></canvas>
						</div>
						<div v-if="!webcam">
							<v-btn color="yellow" block @click="start" class="mt-2 mx-auto" >カメラをオンにしてください。</v-btn>
							<p class="mt-2 mx-auto text-center">映像データはサーバーへの送信や、<br>その他の場所へ保存は一切しません。<br>ネタアプリですが、ご安心ください。</p>
						</div>
						<div class="timeline mt-4" :style="{'opacity': happyProbability}">
							<v-card class="mb-2 mx-auto" color="yellow" max-width="400" v-for="(post, index) in posts" :key="post.id">
								<v-card-text class="headline font-weight-bold">
									{{post.text}}
								</v-card-text>
								<v-card-actions>
									<v-list-item class="grow">
										<v-list-item-avatar color="grey darken-3">
											<v-img class="elevation-6" alt=""
												:src="post.src">
											</v-img>
										</v-list-item-avatar>
										<v-list-item-content>
											<v-list-item-title>{{post.name}}</v-list-item-title>
										</v-list-item-content>
									</v-list-item>
								</v-card-actions>
							</v-card>
						</div>
          </v-container>
					<v-btn class="form-button" color="cyan" dark @click="openForm" v-if="webcam && !isActiveForm"  :style="{'opacity': happyProbability}">投稿</v-btn>
					<div class="post-form-container" :style="{ 'transform': `translateY(${formTop}%)`}">
						<button @click="closeForm" class="form-close">✖︎</button>
						<v-form class="post-form">
							<v-text-field v-model="post.name" label="ニックネーム" required></v-text-field>
							<v-textarea
							name="input-7-1"
							label="楽しい何か"
							v-model="post.text"
							required
							></v-textarea>
							<v-btn color="yellow" block @click="addPost">投稿</v-btn>
						</v-form>
					</div>
        </v-main>
      </v-app>
    </div>
	</article>
	<footer class="text-center">
		<small><a href="https://twitter.com/yahsan2">@yahsan2</a> All Rights Reserved.</small>
	</footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bounce.js/0.8.2/bounce.min.js"></script>
	<script src="js/tensorflow.min.js"></script>
	<script src="tracking/build/tracking-min.js"></script>
	<script src="tracking/build/data/face-min.js"></script>
	<script src="tracking/src/alignment/training/Landmarks.js"></script>
	<script src="tracking/src/alignment/training/Regressor.js"></script>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
			https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>

	<script>
		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		var firebaseConfig = {
			apiKey: "AIzaSyDRhfZPXqi69sI95b3bcDKS_lLrlF9-yTI",
			authDomain: "hale-acumen-184705.firebaseapp.com",
			databaseURL: "https://hale-acumen-184705.firebaseio.com",
			projectId: "hale-acumen-184705",
			storageBucket: "hale-acumen-184705.appspot.com",
			messagingSenderId: "261142792873",
			appId: "1:261142792873:web:df031197dfeec5a34ef7b8",
			measurementId: "G-08JTSKQ4ZT"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>
	<script src="js/predict.js"></script>
</body>
</html>
